@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFFFFF;
}

html, body{
  font-family: "Poppins", sans-serif;
}

/* navbars */
/* SMALL NAV */
.small-nav{
  @apply hidden md:flex bg-gray-100 border-[1px] cursor-pointer justify-between items-center overflow-auto shadow-sm md:text-[12px] xl:text-[15px]
}
.cart-area{
  @apply bg-[#028643] text-white px-4 flex gap-4 justify-evenly items-center h-auto
}